[flake8]
ignore = E501,W503
max-line-length = 120
max-complexity = 18
exclude =
    __pycache__,
    .cache,
    .git,
    .github,
    .pytest_cache,
    .tox,
    .venv,
    .vscode,
    .serverless,
    shared,
    models,
    node_modules,
