boto3==1.20.53
botocore==1.23.53
boto3_type_annotations>=0.3.1
requests==2.26.0
sentry-sdk==1.5.4
joblib==1.1.0
pylru==1.2.1
# required to load model, about 200MB
scikit-learn==1.2.1
# numpy==1.22.3 # dependency of scikit-learn