{
    "resource": "/me/followups/category/{category}",
    "path": "/classifier/me/followups/category/d9695b31-ad12-4fc9-949e-58103659b761",
    "httpMethod": "POST",
    "headers": {
        "Authorization": "Bearer eyJhbGci***redacted"
    },
    "multiValueHeaders": null,
    "queryStringParameters": null,
    "multiValueQueryStringParameters": null,
    "pathParameters": {
        "category": "d9695b31-ad12-4fc9-949e-58103659b761"
    },
    "stageVariables": null,
    "requestContext": {
        "resourceId": "abcabc",
        "authorizer": {
            "principalId": "apigateway.amazonaws.com",
            "token": "{\"id\": \"61292a5fdaded52a65409d1a\", \"role\": \"ADMIN\", \"mentorIds\": [\"61292a5fdaded52a65409d25\"], \"expirationDate\": \"2022-05-23T10:50:40.099Z\", \"iat\": 1645527040, \"exp\": 1653303040}"
        },                
        "resourcePath": "/me/followups/category/{category}",
        "httpMethod": "POST",
        "extendedRequestId": "NlJo0GQ-IAMFy9g=",
        "requestTime": "24/Feb/2022:15:24:39 +0000",
        "path": "/classifier/me/followups/category/d9695b31-ad12-4fc9-949e-58103659b761",
        "accountId": "111111000655",
        "protocol": "HTTP/1.1",
        "stage": "dev",
        "domainPrefix": "api-dev",
        "requestTimeEpoch": 1645716279900,
        "requestId": "950b8584-f40f-4eae-9c3c-5dca519c404a",
        "domainName": "api-dev.mentorpal.org",
        "apiId": "nuj9elv2we"
    },
    "body": null,
    "isBase64Encoded": false
}