{
    "resource": "/questions",
    "path": "/questions",
    "httpMethod": "GET",
    "headers": null,
    "multiValueHeaders": null,
    "queryStringParameters": {
        "mentor": "614398e306c21f1afa459f56",
        "query": "Did+you+work+while+you+were+in+school?"
    },
    "multiValueQueryStringParameters": {
        "mentor": [
            "614398e306c21f1afa459f56"
        ],
        "query": [
            "Did+you+work+while+you+were+in+school?"
        ]
    },
    "pathParameters": null,
    "stageVariables": null,
    "requestContext": {
        "resourceId": "7nvyap",
        "resourcePath": "/questions",
        "httpMethod": "GET",
        "extendedRequestId": "NlBcXHIpoAMFThw=",
        "requestTime": "15/Feb/2022:10:11:26 +0000",
        "path": "/questions",
        "accountId": "111111000655",
        "protocol": "HTTP/1.1",
        "stage": "test-invoke-stage",
        "domainPrefix": "testPrefix",
        "requestTimeEpoch": 1644919886919,
        "requestId": "a2a5ad6b-9549-4f5f-8653-8c3a101d4f78",
        "domainName": "testPrefix.testDomainName",
        "apiId": "g2x9qy4f86"
    },
    "body": null,
    "isBase64Encoded": false
}
