{
    "resource": "/train",
    "path": "/train",
    "httpMethod": "POST",
    "headers": null,
    "multiValueHeaders": null,
    "queryStringParameters": null,
    "multiValueQueryStringParameters": null,
    "pathParameters": null,
    "stageVariables": null,
    "requestContext": {
        "resourceId": "9ywllb",
        "resourcePath": "/train",
        "httpMethod": "POST",
        "extendedRequestId": "NlJo0GQ-IAMFy9g=",
        "requestTime": "15/Feb/2022:11:07:23 +0000",
        "path": "/train",
        "accountId": "639093085655",
        "protocol": "HTTP/1.1",
        "stage": "test-invoke-stage",
        "domainPrefix": "testPrefix",
        "requestTimeEpoch": 1644923243486,
        "requestId": "79217fa4-9c1c-43ad-8549-a3e881c83bcb",
        "domainName": "testPrefix.testDomainName",
        "apiId": "g2x9qy4f86"
    },
    "body": "{\"mentor\":\"6109d2a86e6fa01e5bf3219f\"}",
    "isBase64Encoded": false
}