{
    "resource": "/trainingdata/{mentor}",
    "path": "/trainingdata/6109d2a86e6fa01e5bf3219f",
    "httpMethod": "GET",
    "headers": null,
    "multiValueHeaders": null,
    "queryStringParameters": null,
    "multiValueQueryStringParameters": null,
    "pathParameters": {
        "mentor": "6109d2a86e6fa01e5bf3219f"
    },
    "stageVariables": null,
    "requestContext": {
        "resourceId": "r08vqp",
        "authorizer": {
            "principalId": "apigateway.amazonaws.com",
            "token": "{\"id\": \"6196af5e068d43dc686194ed\", \"role\": \"ADMIN\", \"mentorIds\": [\"6196af5e068d43dc686194f8\"], \"expirationDate\": \"2022-05-23T10:50:40.099Z\", \"iat\": 1645527040, \"exp\": 1653303040}"
        },        
        "resourcePath": "/trainingdata/{mentor}",
        "httpMethod": "GET",
        "extendedRequestId": "NlEhEG4doAMFrgg=",
        "requestTime": "15/Feb/2022:10:32:25 +0000",
        "path": "/trainingdata/{mentor}",
        "accountId": "111111000655",
        "protocol": "HTTP/1.1",
        "stage": "test-invoke-stage",
        "domainPrefix": "testPrefix",
        "requestTimeEpoch": 1644921145901,
        "requestId": "537fd66d-3903-45b3-97e0-cf5e06639be8",
        "domainName": "testPrefix.testDomainName",
        "apiId": "g2x9qy4f86"
    },
    "body": null,
    "isBase64Encoded": false
}
